body{
  margin:0;
  padding:0;
  background:#000000;
  overflow:hidden;
}

/* start of turn button */
html{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

#turn_after{
  background-color: grey;
  opacity: 0.3;
  width: 50px;
  height:50px;
  display: inline-block;
  position: absolute;
  right: 0;
}

h1{
  text-align: center;
  margin: 0 auto;
  color:white;
}

#turn_after:hover{
  background-color:rgb(168, 168, 168);
}

/* end of turn button */

button{
  background-color: grey;
  border: none;
  font-size: 16px;
  padding: 10px 16px;
  color: white;
}

button:hover{
  background: #555555;
  border-radius: 50px;
}
button{
  border-radius: 50px;
}
#on_button{
  position: fixed;
  bottom: 0;
}
#off_button{
  position: fixed;
  bottom: 0;
  right: 0;
}
